
@model Product
            <div class="container">
              <div class="card mt-5">
                <div class="card-body">
                  <h4 class="card-title">Update Product</h4>
                  <form class="forms-sample" method="post">
                    <div class="form-group">
                      <label asp-for="Name">Name</label>
                      <input asp-for="Name" class="form-control" placeholder="Name">
                      <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="ImageUrl">ImageUrl</label>
                      <input asp-for="ImageUrl" class="form-control" placeholder="ImageUrl">
                      <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Price">Price</label>
                      <input asp-for="Price" class="form-control" placeholder="Position">
                      <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Desc">Description</label>
                      <input asp-for="Desc" class="form-control" placeholder="Description">
                      <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Size"></label>
                      <select class="form-control" asp-for="Size" asp-items="new SelectList(ViewBag.Sizes,nameof(Size.Name),nameof(Size.Id))">
                          <option disabled selected>Select a size</option>
                      </select>
                      <span asp-validation-for="Size" class="text-danger"></span>
                    </div>                    
                    <div class="form-group">
                      <label asp-for="Color"></label>
                      <select class="form-control" asp-for="Color" asp-items="new SelectList(ViewBag.Colors,nameof(Color.Name),nameof(Color.Id))">
                          <option disabled selected>Select a color</option>
                      </select>
                      <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Category"></label>
                      <select class="form-control" asp-for="Category" asp-items="new SelectList(ViewBag.Categories,nameof(Category.Name),nameof(Category.Id))">
                          <option disabled selected>Select a category</option>
                      </select>
                      <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                  </form>
                </div>
              </div>
            </div>
